<div class="container">
    <div class="background">
        <div class="aboutBox">
            <h1 class="aboutUsTitle">About Us</h1>
            <p class="ourStory">
                Our founder, Tyler Shelton, has a knack for gardening! No matter what climate you are in, he can help you acheieve your garden dreams.
                Over the years Tyler has spent time traveling to many parts of the world to see how people from other climates are able to grow vegetation 
                and produce beautiful flowers. He will personally guarentee that using our seeds will make some of the worlds most beautiful flowers, and 
                the tastiest vegetables you have ever grown! 
            </p>
        </div>

        <div class="formWrapper">
            <form class="form" action="action_page.php">
                <h1> Contact Us!</h1>
                <div class="inputs">
                    <label class="fName" for="fname">First Name:</label>
                    <input class="fNameInput" type="text" name="firstname" placeholder="Your name..">
                    <label class="lName" for="lname">Last Name:</label>
                    <input type="text" class="lNameInput" name="lastname" placeholder="Your last name..">
                    <label class="box" for="subject">Subject:</label>
                    <textarea id="subject" class="boxInput" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                </div>
                <button class="submit" type="submit" value="Submit">Submit</button>
            </form>
        </div>
    </div>
</div>